current-flows.json
[{"id":"c69c9245.2af2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f689dc6a.33619","type":"ibmiot in","z":"c69c9245.2af2","authentication":"apiKey","apiKey":"4df00f38.7df9a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456789","applicationId":"","deviceType":"shubhika_device","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":290,"y":260,"wires":[["5c31d0d4.fec4c","3fc20a73.83aa46","d221136e.2b656","120e495c.710d37"]]},{"id":"5c31d0d4.fec4c","type":"function","z":"c69c9245.2af2","name":"temp","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["3fc20a73.83aa46","df75295.d56afd8"]]},{"id":"3fc20a73.83aa46","type":"debug","z":"c69c9245.2af2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":260,"wires":[]},{"id":"df75295.d56afd8","type":"ui_gauge","z":"c69c9245.2af2","name":"","group":"522b84ef.fdee3c","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degree_Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":40,"wires":[]},{"id":"dd690661.9b35d8","type":"http request","z":"c69c9245.2af2","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Kanpur, IN&appid=1d1f52910348ce0601230f1c94b2e647","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":340,"wires":[["3fc20a73.83aa46"]]},{"id":"636c0896.8ba2f8","type":"inject","z":"c69c9245.2af2","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":360,"wires":[["dd690661.9b35d8"]]},{"id":"d221136e.2b656","type":"function","z":"c69c9245.2af2","name":"humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["3fc20a73.83aa46","811655db.369818"]]},{"id":"120e495c.710d37","type":"function","z":"c69c9245.2af2","name":"Soil Temperature","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["3fc20a73.83aa46","676c17f6.63e928"]]},{"id":"811655db.369818","type":"ui_gauge","z":"c69c9245.2af2","name":"","group":"522b84ef.fdee3c","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":100,"wires":[]},{"id":"676c17f6.63e928","type":"ui_gauge","z":"c69c9245.2af2","name":"","group":"522b84ef.fdee3c","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":160,"wires":[]},{"id":"7e4fe847.a3fb88","type":"ibmiot out","z":"c69c9245.2af2","authentication":"apiKey","apiKey":"4df00f38.7df9a","outputType":"cmd","deviceId":"123456789","deviceType":"shubhika_device","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":400,"wires":[]},{"id":"d2f2c497.72edc8","type":"ui_button","z":"c69c9245.2af2","name":"","group":"745a3508.3f494c","order":3,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":430,"y":420,"wires":[["7e4fe847.a3fb88"]]},{"id":"aef6cc58.32154","type":"ui_button","z":"c69c9245.2af2","name":"","group":"745a3508.3f494c","order":4,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":440,"y":500,"wires":[["7e4fe847.a3fb88"]]},{"id":"4df00f38.7df9a","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"522b84ef.fdee3c","type":"ui_group","z":"","name":"IOT","tab":"eb3dba49.07f8e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"745a3508.3f494c","type":"ui_group","z":"","name":"Default","tab":"eb3dba49.07f8e8","order":2,"disp":true,"width":"6","collapse":false},{"id":"eb3dba49.07f8e8","type":"ui_tab","z":"","name":"SmartAgriculture","icon":"dashboard","disabled":false,"hidden":false}]